.current-date {
 display: block;
 position: relative;
 margin: auto;
 text-align: center;
 left: 100px;
 top: 35px;
 font-size: 25px;
}

.clock {
 display: block;
 position: relative;
 margin: auto;
 text-align: center;
 top: -10px;
 left: -105px;
 margin-bottom: 10px;
}

.icon {
  display: block;
  position: relative;
  margin: auto;
  bottom: 5px;
}

.Temperature {
  display: block;
  position: relative;
  margin: auto;
  font-weight: bolder;
  font-size: larger;
  font-style: normal;
  top: -10px;
}

.weather-description {
  position: relative;
  top: 35px;
}
  
.weather-description .weather-list {
  list-style-type: none;
}

.text-capitalize {
  display: block;
  position: relative;
  margin: auto;
  text-transform: capitalize;
  left: -20px;
}

.wind {
  position: relative;
  left: -20px;
}

.humidity {
  position: relative;
  left: -20px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
 .clock {
 display: block;
 position: relative;
 margin: auto;
 text-align: center;
 margin-bottom: 10px;
 left: -40px;
}
 
 .Temperature {
  display: block;
  position: relative;
  margin: auto;
  font-weight: bolder;
  font-size: large;
  font-style: normal;
  top: -10px;
}
 .wind {
  position: relative;
  left: -40px;
}

.humidity {
  position: relative;
  left: -20px;
  margin-bottom: 10px;
}
}
