.icon {
  bottom: 20px;
}

.Temperature {
  font-weight: bolder;
  font-size: larger;
  font-style: normal;
  left: -10px;
}

.weather-description .weather-list {
  list-style-type: none;
}

.text-capitalize {
  display: block;
  position: relative;
  margin: auto;
  text-transform: capitalize;
  left: -20px;
}

.wind {
  position: relative;
  left: -20px;
}

.humidity {
  position: relative;
  left: -20px;
}
